@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Manrope:wght@200..800&display=swap');
:root{
    --background-color:#4f772d;
    --font-color:#132a13;
    --background-color-secondary:#90a955;
    --background-color-3:white;
}
html,body{
    margin:0;
    color:var(--font-color);
    font-family:Manrope;
    font-size:16px;
}
h1,h2,h3,h4,h5,h6{
    font-family:Cormorant Garamond;
    margin:0;
}
h2{
    font-size:32px;
}
h3{
    font-size:24px;
}
nav{
    display:flex;
    padding:8px 96px;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    background-color: white;
}
nav a img{
    width:140px;
    height:90%;
}
.nav_liste{
    display:flex;
    gap:30px;
}
.nav_liste ul{
    display:flex;
    gap:32px;
}
.nav_liste ul li{
    list-style-type: none;
}
.nav_liste ul li a{
    color:var(--font-color);
}
.nav_liste a{
    text-decoration: none;
}

header{
    display:flex;
    height:88vh;
    width:100%;
    background-color: var(--background-color);
}

.button_container{
    display:flex;
    align-items:center;
    gap:30px;
}
.button{
    height:fit-content;
    width:fit-content;
    text-decoration:none;
    padding:16px 30px;
    text-align:center;
}
.primary:hover, .secondary:hover{
    transform:scale(1.1);
    transition:0.3s ease-in-out;
}
.primary{
    background-color:var(--font-color);
    color:white;
}
.primary:hover{
    background-color:#5b544d;
}
.secondary{
    background-color:transparent;
    border:solid 2px var(--font-color);
    color:var(--font-color);
}
.secondary:hover{
    background-color:white;
}
.gauche{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:50vw;
    gap:32px;
}
.droite{
    width:50vw;
}
.gauche img,.droite img{
    width:100%;
    height:100%;
}
#promesse{
    display:flex;
    flex-direction:column;
    background-color: var(--background-color-3);
    padding-bottom:32px;
}
#promesse h2{
    padding-top:20px;
}
#promesse h2, #promesse p{
    text-align:center;
}
.promesse_container{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.promesse_container .gauche{
    display:flex;
    gap:16px;
    flex-flow: row wrap;
}
.promesse_container .gauche img:first-child{
    width:40%;
    height:30%;
}
.promesse_container .gauche img:nth-child(2){
    width:25%;
    height:20%;
}
.promesse_container .gauche img:last-child{
    width:30%;
    height:30%;
}
.promesse_container .droite{
    margin: 0;
    display: flex;
    gap: 20px;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.promesse_container .droite ul{
    display:flex;
    flex-direction:column;
    gap:30px;
} 
.promesse_container .droite ul li{
    display:flex;
    gap:16px;
}
.promesse_container .droite a{
    margin-left:24px;
}
.promesse_container .droite ul li img{
    width:24px;
    height:24px;
}
#prestations h2, #prestations p{
    margin:0;
    text-align:center;
}
#prestations h2{
    margin-top:20px;
}

#prestations{
    display:flex;
    gap:20px;
    flex-direction:column;
    background-color: var(--background-color-secondary);
    height:100%;
    padding-bottom:32px;
}
#prestations .services{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
#prestations article{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:25%; 
    border-radius: 16px 10px;
    overflow: hidden;
}
#prestations article:hover{
    transform:scale(1.06);
    transition:0.3s ease-in-out;
    cursor: pointer;
}
#prestations .services article:first-child .texte{
    display:flex;
    flex-direction:column;
    gap:28px;
}
#prestations article .texte{
    display:flex;
    flex-direction:column;
    padding:5px 16px;
    gap:16px;
    justify-content: center;
    height:fit-content;   
    align-items:center;
    background-color: var(--background-color-3);
}
#prestations article img{
    width:100%;
    height:200px;
    max-width:
}
#prestations article h3{
    margin:0;
}

#realisations{
    display:flex;
    flex-direction: column;
}
#realisations h2{
    text-align:center;
    padding-top:20px;
    background-color: var(--background-color-3);
}
.projects{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:20px;
    padding: 48px 96px;
}
#realisations .projects img{
    height:200px;
    object-fit: cover;
}
#realisations .droite{
    text-align:center;
}
.img_left{
    flex-direction:row;
    background-color:var(--background-color-3);
}
.img_right{
    flex-direction:row-reverse;
    background-color:var(--background-color-secondary);
}
#temoignages{
    display:flex;
    gap:32px;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
    padding: 48px 80px;
}

.temoignages_container{
    display:flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content:center;
    gap:24px;
}
#temoignages h2{
    text-align:center;
}
#temoignages article{
    width:300px;
    height:100%;
    gap:10%;
    padding:24px;
    background-color:var(--background-color-secondary);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}
#temoignages h3, #temoignages h4{
    margin:0;
} 
footer{
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--background-color);
    align-items: center;
    padding-bottom: 16px;
}
#socials{
    display:flex;
    gap:20px;
}
footer .gauche{
    padding-left: 72px;
    padding-right:72px;
}
footer .gauche #socials img{
    width:32px;
    height:31px;
}
footer .gauche #socials img:hover{
    transform:scale(1.1);
    transition:0.3s ease-in-out;
}
footer .droite{
    margin-left:32px;
    display:flex;
    flex-direction:column;
    gap:16px;
}
footer .droite ul{
    display:flex;
    flex-direction:column;
    gap:16px;
    list-style-type:none;
}

.coordinates{
    display:flex;
    background-color: white;
    padding:16px;
    width:80%;
    color:var(--font-color);
    text-align:center;
    border: none;
}
.coordinates::placeholder{
    color:var(--font-color);
}
.coordinates:focus{
    outline:none;
}